# Q8

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
df = pd.read_csv('DM_HW_2/Iris.csv', sep=',')
df

     Unnamed: 0  Class  Petal length  Sepal length  Sepal width  Petal width
0             0      1            51            35           14            2
1             1      1            49            30           14            2
2             2      1            47            32           13            2
3             3      1            46            31           15            2
4             4      1            50            36           14            2
..          ...    ...           ...           ...          ...          ...
145         145      3            67            30           52           23
146         146      3            63            25           50           19
147         147      3            65            30           52           20
148         148      3            62            34           54           23
149         149      3            59            30           51           18

[150 rows x 6 columns]

In [3]:
df.drop(df.filter(regex="Unname"),axis=1, inplace=True)
x = df.drop('Class', axis=1)
y = df['Class']

In [4]:
from sklearn.preprocessing import MinMaxScaler

x_stan = MinMaxScaler().fit_transform(X=x)

In [5]:
from sklearn.model_selection import train_test_split
x_stan_train,x_stan_test,y_train,y_test = train_test_split(x_stan,y,test_size=0.2)

1

In [6]:
def weighted_classification(distance,y):
    sum1=0
    sum2=0
    sum3=0
    for i in range(len(distance)):
        if y[i] == 1: sum1+=1/(distance[i]**2)
        if y[i] == 2: sum2+=1/(distance[i]**2)
        if y[i] == 3: sum3+=1/(distance[i]**2)
    if sum1>=sum2 and sum1>=sum3: return 1
    if sum2>=sum1 and sum2>=sum3: return 2
    if sum3>=sum2 and sum3>=sum1: return 3

In [7]:
from sklearn.neighbors import KDTree
from copy import deepcopy
from sklearn.metrics import accuracy_score
import numpy as np 

myTree = KDTree(x_stan_train)
error = []
y_test_predict = deepcopy(y_test)
for i in range(y_test.shape[0]):
    distance,index = myTree.query(x_stan_test, k = i+1)
    distance = distance.reshape((-1,)).tolist()
    index = index.reshape((-1,)).tolist()
    index = np.array(index)
    distance = np.array(distance)
    y_temp = np.array(y)
    y_neighbors = y_temp[index]
    print(y_neighbors)
    y_test_predict[i] = weighted_classification(distance,y_neighbors)
print("accuracy score on test set: ",accuracy_score(y_test,y_test_predict))

In [ ]:
from sklearn.neighbors import KDTree
from sklearn.model_selection import GridSearchCV

myKDTree = KDTree(x_stan_train)
myTree = myKDTree.query(x_stan_train)
MLParameters = {
 'k':[1,2,3,4,5,6]  
}
MLPcv = GridSearchCV(myTree, param_grid=MLParameters)
MLPcv.fit(x_stan_train, y_train)
print(MLPcv.best_params_)
print(MLPcv.score(x_stan_test,y_test))